{{> header }}

{{# system.loggedin }}
    <a href="{{# path }}service/index{{/ path }}">
        <div class="alert alert-primary">
            Click here for admin/organiser portal.
        </div>    
    </a>    
{{/ system.loggedin}}

<h3>Railtours available for booking now</h3>

{{^ anyservices }}
    <div class="alert alert-warning">
        No services available to book at the moment
    </div>
{{/anyservices}}

{{# services }}
    <div class="card">
        <div class="card-header">{{ name }} on {{ date }}</div>
        <div class="card-body">
            <div class="card-text">
                {{{ description }}}
                <br /><br />
                <a class="btn btn-primary" href="{{# path }}booking/index{{/ path }}/{{ code }}">Book now</a>
                {{# system.loggedin }}
                    <a class="btn btn-warning" href="{{# path }}booking/telephone{{/ path }}/{{ code }}">Telephone booking</a>
                {{/ system.loggedin }}
            </div>
        </div>
    </div>
{{/ services }}



{{> footer }}
