{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h3>Railtour Services</h3>

    {% for service in services %}
        <div class="panel panel-primary">
            <div class="panel-heading">{{ service.date }} {{ service.name }}</div>
            <div class="panel-body">
                {{ service.description }}
                <br /><br />
                <a class="btn btn-primary" href="{{ path('booking/index', service.code) }}">Book now</a>
            </div>
        </div>
    {% endfor %}

{%  endblock %}