{{> header }}

{{> adminmenu }}

<div class="container-fluid px-4">

    <h1 class="display-6 text-center">Destinations - {{ service.name }}</h1>

    <div class="container border shadow p-3">
        {{# saved }}
            <div class="alert alert-success">
                Destination has been saved.
            </div>
        {{/ saved }}
        
        {{# nodestinations }}
            <div class="alert alert-warning">No destinations have been created</div>
        {{/ nodestinations}}
        {{^ nodestinations }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>CRS</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{# destinations }}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ crs }}</td>
                            <td>{{{ description }}}</td>
                            <td>
                                <a class="btn btn-sm btn-warning"
                                    href="{{# path }}destination/edit{{/ path }}/{{ service.id }}/{{ id }}">Edit</a>
                                {{^ used }}
                                    <a class="btn btn-sm btn-danger" href="{{# path }}destination/delete{{/ path }}/ {{ id }}">Delete</a>
                                {{/ used }}
                                {{# used }}
                                    <a class="btn btn-sm btn-danger disabled">Delete</a>
                                {{/ used }}
                            </td>
                        </tr>
                    {{/ destinations }}
                </tbody>
            </table>
        {{/ nodestinations }}

        <div>
            <a class="btn btn-primary" href="{{# path }}destination/edit{{/ path }}/{{ service.id }}/0">
                Add a new destination
            </a>&nbsp;
            <a class="btn btn-warning" href="{{# path }}service/show{{/path}}/{{ service.id }}">
                Back
            </a>
        </div>
    </div>
</div>

{{> footer }}