

    <div class="nav" id="adminmenu">
            <a class="nav-link" href="{{# path }}service/index{{/path}}">
                <span class="fa-stack fa-2x">
                    <i class="menubackground fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-subway fa-stack-1x fa-inverse"></i>
                </span>
                <span class="admintext">
                    Services
                </span>
            </a>
        {{# system.admin }}
                <a class="nav-link" href="{{# path }}user/index{{/path}}">
                    <span class="fa-stack fa-2x">
                        <i class="menubackground fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="admintext">
                        Users
                    </span>
                </a>
        {{/ system.admin }}
        {{# serviceid }}
            {{# system.admin }}
                    <a class="nav-link" href="{{# path }}destination/index{{/ path }}/{{ serviceid }}">
                        <span class="fa-stack fa-2x">
                            <i class="menubackground fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="admintext">
                            Destinations
                        </span>
                    </a>
                    <a class="nav-link" href="{{# path }}priceband/index{{/ path }}/{{ serviceid }}">
                        <span class="fa-stack fa-2x">
                            <i class="menubackground fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pound-sign fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="admintext">
                            Price bands
                        </span>
                    </a>
                    <a class="nav-link" href="{{# path }}joining/index{{/ path }}/{{ serviceid }}">
                        <span class="fa-stack fa-2x">
                            <i class="menubackground fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="admintext">
                            Stations
                        </span>
                    </a>
            {{/ system.admin }}
                <a class="nav-link" href="{{# path }}limits/edit{{/ path }}/{{ serviceid }}">
                    <span class="fa-stack fa-2x">
                        <i class="menubackground fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-chart-line fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="admintext">
                            Limits
                    </span>
                </a>
        {{/ serviceid }}
    </div>
