

    <div class="navbar navbar-expand-lg navbar-light bg-light" id="adminmenu">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{# path }}service/index{{/path}}">
                Services
            </a>
            <a class="nav-item nav-link {{^ system.admin }}disabled{{/ system.admin}}" href="{{# path }}user/index{{/path}}">
                Users
            </a>
        {{# serviceid }}
            {{# system.admin }}
                    <a class="nav-item nav-link" href="{{# path }}destination/index{{/ path }}/{{ serviceid }}">
                            Destinations
                    </a>
                    <a class="nav-link" href="{{# path }}priceband/index{{/ path }}/{{ serviceid }}">
                        <span class="fa-stack fa-2x">
                            <i class="menubackground fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pound-sign fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="admintext">
                            Price bands
                        </span>
                    </a>
                    <a class="nav-link" href="{{# path }}joining/index{{/ path }}/{{ serviceid }}">
                        <span class="fa-stack fa-2x">
                            <i class="menubackground fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="admintext">
                            Stations
                        </span>
                    </a>
            {{/ system.admin }}
                <a class="nav-link" href="{{# path }}limits/edit{{/ path }}/{{ serviceid }}">
                    <span class="fa-stack fa-2x">
                        <i class="menubackground fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-chart-line fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="admintext">
                            Limits
                    </span>
                </a>
        {{/ serviceid }}
           </div>
        </div>
    </div>
