
<div id="adminmenu">
    {{# system.fullname }}
        <p><i>Welcome {{ system.fullname }} (<a href="{{# path }}user/logout{{/ path }}">logout</a>)</i></p>
    {{/ system.fullname }}

    <ul id="adminmenu">
        <li>
            <a href="{{# path }}service/index{{/path}}">
                <span class="fa-stack fa-3x">
                    <i class="menubackground fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-subway fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        {{# admin }}
            <li>
                <a class="btn btn-warning" href="{{ path('service/edit', serviceid) }}">
                    Edit service
                </a>
            </li>
        {{/ admin }}
        {{# serviceid }}
            {% if system.userrole == 'ROLE_ADMIN' %}
                <li>
                    <a class="btn btn-warning" href="{{ path('destination/index', serviceid) }}">
                        {% if destinations is defined %}
                            {{ destinations ? 'Edit destinations' : 'New destination' }}
                        {% else %}
                            Edit destinations
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a class="btn btn-warning" href="{{ path('priceband/index', serviceid) }}">
                        {% if pricebandgroups is defined %}
                            {{ pricebandgroups ? 'Edit price bands' : 'New price band' }}
                        {% else %}
                            Edit price bands
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a class="btn btn-warning" href="{{ path('joining/index', serviceid) }}">
                        {% if joinings is defined %}
                            {{ joinings ? 'Edit joining stations' : 'New joining station' }}
                        {% else %}
                            Edit joining stations
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            <li>
                <a class="btn btn-primary" href="{{ path('limits/edit', serviceid) }}">
                    Booking limits
                </a>
            </li>
        {{/ serviceid }}
    </ul>
</div>
