
</div>
<footer class="container-fluid border-top mt-5 pt-4 bg-light">
    <div class="container">
		<div class="row">
		    <div class="col">
			    <ul class="list-unstyled">
				    <li class="mb-4"><b>Legal</b></li>
                    <li class="mb-2"><a href="{{# path }}booking/terms{{/ path }}" target="_blank">Terms and conditions</a></li>
                    <li class="mb-2"><a href="https://www.bkrailway.co.uk/privacy-policy/" target="_blank">Privacy Policy</a></li>
				</ul>	
			</div>
	        <div class="col-sm">
	        	<ul class="list-unstyled">
				    <li class="mb-4"><b>About</b></li>
                    <li class="mb-2"><small>SRPS Railtours Ltd is a trading subsidiary of the Scottish Railway Preservation Society.</small></li>
                    <li class="mb-2"><small>The Scottish Railway Preservation Society is a Full Member of the Heritage Railway Association and a Charitable Company limited by guarantee. Scottish Charity No.SCO02375.</small></li>
                    <li class="mb-2"><small>SRPS Railtours Ltd, Registered in Scotland. Reg. No. : 158474.</small></li>
                    <li class="mb-2"><small>Reg. Office : 17-19 North Street, Bo'ness, West Lothian.</small></li> 
                    <li  class="mb-2">{{# config.debugging }}SID: {{ system.sessionid }}{{/ config.debugging }}</li>
                </ul>
	        </div>
			<div class="col-sm">
		        {{^ system.loggedin }}
		            {{# showlogin }}
		            	<a class ="btn btn-info" href="{{# path }}user/login{{/path}}"> staff login</a>
		            {{/ showlogin }}
		        {{/ system.loggedin }}
		        {{# system.loggedin }}
		            Logged in as {{ system.fullname }}. <a class="btn btn-warning btn-sm" href="{{# path }}user/logout{{/path}}">logout</a>
		        {{/ system.loggedin }}
	        </div>
	    </div>
	</div>
</footer>

<script src="{{ config.www }}/src/assets/js/railtour.js"></script>

</html>
