
</div>
<footer>
	<div id="footer-container" class="container-fluid">
		<div class="row">
	        <div id="footer-notes" class="col">
	        	<ul class="list-unstyled">
                    <li><a href="{{# path }}booking/terms{{/ path }}">Terms and conditions</a></li>
                    <li>SRPS Railtours Ltd is a trading subsidiary of the Scottish Railway Preservation Society.</li>
                    <li>The Scottish Railway Preservation Society is a Full Member of the Heritage Railway Association and a Charitable Company limited by guarantee. Scottish Charity No.SCO02375</li>
                    <li>SRPS Railtours Ltd, Registered in Scotland. Reg. No. : 158474</li>
                    <li>Reg. Office : 17-19 North Street, Bo'ness, West Lothian</li>
                    <li>Hosting kindly donated by <a href="http://www.e-learndesign.co.uk">E-Learn Design Limited</a></li> 
                    {{# config.debugging }}SID: {{ system.sessionid }}{{/ config.debugging }}
                </ul>
	        </div>
			<div class="col logincol">
		        {{^ system.loggedin }}
		            {{# showlogin }}
		            	<a class ="btn btn-info" href="{{# path }}user/login{{/path}}"> staff login</a>
		            {{/ showlogin }}
		        {{/ system.loggedin }}
		        {{# system.loggedin }}
		            Logged in as {{ system.fullname }}. <a href="{{# path }}user/logout{{/path}}">logout</a>
		        {{/ system.loggedin }}
	        </div>
	    </div>
    </div>
</footer>

<script src="{{ config.www }}/src/assets/js/railtour.js"></script>

</html>
