{{! A boolean variable 'haserrors' and an array containing the error strings }}

{{# haserrors }}
    <ul class="list-unstyled alert alert-danger">
        {{# errors }}
            <li>{{{ . }}}</li>
        {{/ errors }}
    </ul>
{{/ haserrors }}