<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ config.titleheader }}</title>
    <meta name="description" content="{{ config.titleheader }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script data-main="{{ config.www }}/src/assets/Scripts/main" src="{{ config.www }}/src/assets/Scripts/require.js"></script>

    <!--
    <script src="{{ config.wjqueryvalidate.jsuery-3.1.1.min.js"></script>
    <script src="{{ config.www }}/src/assets/js/tether.min.js"></script>
    <script src="{{ config.www }}/src/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="{{ config.www }}/src/assets/jquery-validate/dist/jquery.validate.min.js"></script>
    -->

    <link rel="stylesheet" type="text/css" href="{{ config.www }}/src/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ config.www }}/src/assets/css/ubuntu.css">
    <link rel="stylesheet" type="text/css" href="{{ config.www }}/src/assets/css/railtour.css">
    <link rel="stylesheet" type="text/css" href="{{ config.www }}/src/assets/font-awesome/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ config.www }}/favicon.ico" />

</head>
<body>
<div id="banner">
    <h1><i class="fa fa-ticket" aria-hidden="true"></i> SRPS Railtours <i class="fa-small fa fa-circle" aria-hidden="true" style="font-size:0.7em;"></i> Online Booking</h1>
</div>
<div class="container">


    <div id="content">