<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ config.titleheader }}</title>
    <meta name="description" content="{{ config.titleheader }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>{{ css }}</style>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>