<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ config.titleheader }}</title>
    <meta name="description" content="{{ config.titleheader }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ config.www }}/src/assets/css/railtour.css?version=20180211">
    <link href="https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/datatables.min.css"/>
    <link rel="icon" type="image/x-icon" href="{{ config.www }}/favicon.ico" />
-->
    <link rel="stylesheet" href="{{ config.www }}/node_modules/bootstrap/dist/css/bootstrap.css" />

<!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
-->
    <!-- include summernote css/js-->
<!--
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
-->

    <script src="{{ config.www }}/node_modules/vue/dist/vue.js"></script>
    <script src="{{ config.www }}/node_modules/axios/dist/axios.js"></script>
    <script src="{{ config.www }}/node_modules/quill/dist/quill.js"></script>
    <script src="{{ config.www }}/node_modules/vue2-editor/dist/vue2-editor.umd.js"></script>
    <script src="{{ config.www }}/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script id="jsenv" type="application/json">{{{ jsenv }}}</script>

</head>
<body style="padding-top: 120px">    
<!--
    <nav class="mb-4 navbar navbar-expand-lg container-xxl flex-wrap navbar-light border-bottom" id="banner">
        <a class="navbar-brand" href="#">
            <img class="d-inline-block align-top" src="{{ config.www }}/src/assets/images/railtourh.png" width="150px" />
            <span class="px-4 h3">SRPS Railtours Online Booking {{# service.name }}'{{ service.name}}'{{/ service.name }}</span>
        </a>
    </nav>



<div class="container bg-white" id="maincontent">
-->
