

<div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark p-4 mb-4 shadow-lg" id="adminmenu">
    <a class="navbar-brand" href="#">
        <img class="d-inline-block align-top" src="{{ config.www }}/src/assets/images/railtourh.png" width="150px" />
    </a>
    <div class="collapse navbar-collapse text-light h4" id="navbarSupportedContent">
        SRPS Railtours Booking
    </div>
</div>
