
body {
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

.wrapper {
    background-color: #f1f1f1;
    padding-bottom: 300px;
}

.navwrapper {
    background-color: #ffffff;
    padding-bottom: 5px;
}

.navcontent {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    color: #000;
}

.logo h1 {
    font-weight: bold;
}

.onlinebooking {
    color: #43a6cf;
}

.box {
    background-color: #fff;
    margin: 8px 0;
    padding: 20px 25px;
    -webkit-box-shadow: 0 12px 30px -12px rgb(132, 132, 132);
    -moz-box-shadow: 0 12px 30px -12px rgb(132, 132, 132);
    box-shadow: 0 12px 30px -12px rgb(132, 132, 132);
}

.servicename {
    font-size: 36px;
    text-align: center;
    color: #43a6cf;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.attention_heading {
    text-align: center;
    margin-bottom: 30px;
}

.attention_heading span {
    background-color: #ffff00;
    color: #000;
    padding: 2px 5px;
    font-weight: 100;
}

#srpsrow {
    margin-left: 0px;
    margin-right: 0px;
}

#maincontent {
    background-color: #ffffff;
    padding-bottom: 20px;
}

#eldlink {
    text-align: right;
    font-size: 12px;
    margin-top: 25px;
}

div#srpsuser {
    text-align: right;
    padding-top: 8px;
}

label.validateError {
    color: #ff0000;
    font-weight: normal;
}

ul#adminmenu {
    list-style-type: none;
    color: red;
}

#services_filter_form, #services_filter_form label {
    font-size: 120%;
    font-weight: normal;
}

#srpsheader .srpsfont {
    font-size: 30px;
    padding: 10px 0 0 10px;
    white-space: nowrap;
}

#adminmenu li {
    margin-bottom: 8px;
}

#adminmenu li a.btn {
    width: 120px;
}

table.table-priceband {
    font-size: 75%;
}

div.summary_display {
    font-family: monospace;
}

div#pagefooter {
    padding-top: 20px;
    text-align: right;
}

div#sb_info {
    text-align: center;
    margin: 15px 6px 15px 0;
}

.alert-large {
    font-size: 145%;
    font-weight: bold;
    padding-bottom: 10px;
}

#booking-warning {
    color: #212121;
}

.srpsnavbar {
    background-color: #585858;
    color: #ffffff;
    margin: 10px 0;
    padding-left: 20px;
    height: 30px;
    font-size: 20px;
    font-weight: normal;
}

.srpsnavbar .navdot {
    color: #ff0000;
    font-size: 16px;
}

span.labelinfo {
    font-weight: normal;
}

span.classtotal {
    font-weight: bold;
    font-size: 125%;
}
