body {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    background-color: #DBE7F3;
}

#maincontent {
    background-color: #ffffff;
    padding-bottom: 20px;
}

label.validateError {
    color: #ff0000;
    font-weight: normal;
}

ul#adminmenu {
    list-style-type: none;
    color: red;
}

#services_filter_form, #services_filter_form label {
    font-size: 120%;
    font-weight: normal;
}

#srpsheader .srpsfont {
    font-size: 30px;
    padding: 10px 0 0 10px;
}

#adminmenu li {
    margin-bottom: 8px;
}

#adminmenu li a.btn {
    width: 120px;
}

table.table-priceband {
    margin: 0 40px;
    font-size: 75%;
}

div.summary_display {
    font-family: monospace;
}

div#pagefooter {
    padding-top: 20px;
    text-align: right;
}

div#sb_info {
    text-align: center;
    margin: 15px 6px 15px 0;
}
