/* main page */

body {
    font-family: Ubuntu, Helvetica, SansSerif;
    background-color: #fff;
}

#banner {
    background-color: #000;
    height: 70px;
    padding: 4px;
    margin-bottom: 10px;
}

#banner h1 {
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    margin-top: 12px;
    margin-left: 20px;
}

#content {
    background-color: #fff;
}

/* errors */

.validateerror {
    color: #ff0000;
}

.formerrors {
    list-style-type: none;
}

/* login page */

#loginbtn {
    width: 100%;
}

#loginheading {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
}