/* main page */

body {
    background-color: #eee;
}

#maincontent {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#banner {
    background-color: #000;
    min-height: 70px;
    padding: 4px;
    margin-bottom: 20px;
}

#banner h1 {
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    margin-top: 12px;
    margin-left: 20px;
}

footer {
    margin-top: 20px;
    padding: 5px;
    background-color: #f1f1f1;
    min-height: 100%;
}

#footer-container {
   border-top: 2px solid #aaa;
   padding-top: 25px;
   margin-top: 25px;
}

#footer-notes {
    font-size: 0.8em;
    color: #888;
}

.logincol {
    text-align: right;
}

/* errors */

label.error {
    color: #ff0000;
    font-size: 80%;
    margin-bottom: 0;
}

.formerrors {
    list-style-type: none;
}

/* admin menu */

#adminmenu {
    margin-bottom: 20px;
}

.fa-circle::before {
    text-shadow: 2px 2px 2px #888;
}

.admintext {
    display: block;
    text-align: center;
    hyphens: auto;
}

/* admin pages */

.adminpage_title {
    text-align: center;
    margin-bottom: 20px;
}

span.badge-crs {
    font-size: 1.2em;
}

/* pricebands */

.pricebandrow {
    font-size: 110%;
}

/* login page */

#loginbtn {
    width: 100%;
}

#loginheading {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
}

/* service show */
.table-priceband {
    font-size: 80%;
}

/* report pages */

tr.purchase_not_ok {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

/* booking odds and ends */
.destination-card, .class-card {
    margin-bottom: 15px;
}

.rt-required {
    color: #dc3545;
}

.purchase-card {
    margin-bottom: 15px;
}

