{{> header }}

<h3>User edit</h3>

    {{> formerrors }}

    <form id="user-edit-form" class="form-horizontal" action="{{ path('user/edit', username) }}" method="post">
        {{# username }}
            {{{ form.username }}}
        {{/ username }}
        {{{ form.firstname }}}
        {{{ form.lastname }}}
        {{{ form.password }}}
        {{{ form.role }}}
        {{{ form.is_active }}}

        {{ form_errors(errors) }}

        <div>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" />
            <input type="submit" name="cancel" value="Cancel" class="btn btn-warning" />
        </div>
    </form>



    <script>
        $('#user-edit-form').validate({
            errorClass: "validateError",
            rules: {
                {% if not username %}
                    username: {
                        required: true
                    },
                {% endif %}
                firstname: {
                    required: true
                },
                lastname: {
                    required: true
                },
                role: {
                    required: true
                }
            }
        });
    </script>

{{> footer }}
    