{{> header }}

{{> adminmenu }}

<h3 class="adminpage_title">User edit</h3>

    {{> formerrors }}

    <form id="user-edit-form" class="form-validate form-horizontal" action="{{# path }}user/edit{{/path}}/{{ username }}" method="post">
        {{{ form.username }}}
        {{{ form.firstname }}}
        {{{ form.lastname }}}
        {{{ form.password }}}
        {{{ form.role }}}
        {{{ form.is_active }}}

        <div>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" />
            <input type="submit" name="cancel" value="Cancel" class="btn btn-warning" />
        </div>
    </form>

{{> footer }}
    