{{> header }}

{{> adminmenu }}

<div class="container-fluid px-4">

    <h1 class="display-6 text-center">User edit</h1>

    <div class="container border shadow p-3">

        {{> formerrors }}

        <form id="user-edit-form" class="form-validate form-horizontal" action="{{# path }}user/edit{{/path}}/{{ username }}" method="post">
            {{{ form.username }}}
            {{{ form.firstname }}}
            {{{ form.lastname }}}
            {{{ form.password }}}
            {{{ form.role }}}
            {{{ form.is_active }}}

            <div>
                <input type="submit" name="submit" value="Save" class="btn btn-primary" />
                <input type="submit" name="cancel" value="Cancel" formnovalidate="formnovalidate" class="btn btn-warning" />
            </div>
        </form>

    </div>

</div>

{{> footer }}
    