{{> header }}

{{> adminmenu }}

<div class="container-fluid px-4">

    <h1 class="display-6 text-center">Railtour Admin Users</h1>

    <div class="container border shadow p-3">

        {{# status }}
            <div class="alert alert-success"><i>{{ status }}</i></div>
        {{/status}}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Active?</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {{# users }}
                    <tr>
                        <td><strong>{{ username }}</strong></td>
                        <td>{{ firstname }}</td>
                        <td>{{ lastname }}</td>
                        <td>{{ role }}</td>
                        <td>
                            {{# is_active }}<span class="badge bg-success">Yes</span>{{/ is_active }}
                            {{^ is_active }}<span class="badge bg-secondary">No</span>{{/ is_active }}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{# path }}user/edit/{{/ path }}/{{ username }}">Edit</a>
                            {{^ editable }}
                                <a class="btn btn-danger btn-sm disabled">Delete</a>
                            {{/ editable }}
                            {{# editable }}
                                <a class="btn btn-danger btn-sm" href="{{# path }}user/delete{{/path}}/{{ username }}">Delete</a>
                            {{/ editable }}
                        </td>
                    </tr>
            {{/ users }}
            </tbody>
        </table>

        <div class="btn-group">
            <a class="btn btn-primary" href="{{# path }}user/edit{{/ path }}">
                Add a new user
            </a>
        </div>

    </div>

</div>

{{> footer }}
