{{> header }}

{{> usermenu }}

<div class="container-fluid px-4">

    <div class="container border shadow p-3">
   
        <div class="alert alert-danger">
            ERROR: You do not have permission to perform this function. Please contact the webmaster if you think this is wrong.
        </div>    

    </div>

</div>


{{> footer }}