{{> header }}

{{> adminmenu }}

<div class="container-fluid px-4">

    <h3 class="adminpage_title">Booking limits edit <i>"{{ service.name }}"</i></h3>

    <form id="limits-edit-form" class="form-horizontal container border rounded shadow p-3" action="{{# path }}limits/edit{{/ path }}/{{ serviceid }}" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Set</th>
                    <th>Booked</th>
                    <th>Pending</th>
                    <th>Remaining</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>First</td>
                    <td class="has-danger">
                        <input type="number" class="form-control" name="first" value="{{ limits.first }}" required="true">
                    </td>
                    <td>{{ count.bookedfirst }}</td>
                    <td>{{ count.pendingfirst }}</td>
                    <td>{{ count.remainingfirst }}</td>
                </tr>
                <tr>
                    <td>Standard</td>
                    <td class="has-danger">
                        <input type="number" class="form-control" name="standard" value="{{ limits.standard }}" required="true">
                    </td>
                    <td>{{ count.bookedstandard }}</td>
                    <td>{{ count.pendingstandard }}</td>
                    <td>{{ count.remainingstandard }}</td>
                </tr>
                <tr>
                    <td><b>Meal A</b> ({{ service.mealaname }})</td>
                    <td class="has-danger">
                        <input type="number" class="form-control" name="meala" value="{{ limits.meala }}" required="true">
                    </td>
                    <td>{{ count.bookedmeala }}</td>
                    <td>{{ count.pendingmeala }}</td>
                    <td>{{ count.remainingmeala }}</td>
                </tr>
                <tr>
                    <td><b>Meal B</b> ({{ service.mealbname }})</td>
                    <td class="has-danger">
                        <input type="number" class="form-control" name="mealb" value="{{ limits.mealb }}" required="true">
                    </td>
                    <td>{{ count.bookedmealb }}</td>
                    <td>{{ count.pendingmealb }}</td>
                    <td>{{ count.remainingmealb }}</td>
                </tr>
                <tr>
                    <td><b>Meal C</b> ({{ service.mealcname }})</td>
                    <td class="has-danger">
                        <input type="number" class="form-control" name="mealc" value="{{ limits.mealc }}" required="true">
                    </td>
                    <td>{{ count.bookedmealc }}</td>
                    <td>{{ count.pendingmealc }}</td>
                    <td>{{ count.remainingmealc }}</td>
                </tr>
                <tr>
                    <td><b>Meal D</b> ({{ service.mealdname }})</td>
                    <td class="has-danger">
                        <input type="number" class="form-control" name="meald" value="{{ limits.meald }}" required="true">
                    </td>
                    <td>{{ count.bookedmeald }}</td>
                    <td>{{ count.pendingmeald }}</td>
                    <td>{{ count.remainingmeald }}</td>
                </tr>
                <tr>
                    <td>First Singles/Window</td>
                    <td class="has-danger">
                        <input type="number" class="form-control" name="firstsingles" value="{{ limits.firstsingles }}" required="true">
                        {{ form_text('firstsingles', '', limits.firstsingles) }}
                    </td>
                    <td>{{ count.bookedfirstsingles }}</td>
                    <td>{{ count.pendingfirstsingles }}</td>
                    <td>{{ count.remainingfirstsingles }}</td>
                </tr>
                {{# destinationlimits }}
                    <tr>
                        <td>
                            <b>Destination</b> {{ name }}<br />
                            <small class="text-info">0 entry disables limit</small>
                        </td>
                        <td class="has-danger">
                            <input type="number" class="form-control" name="{{ fieldname }}" value="{{ bookinglimit }}" required="true">
                            {{ form_text('destination_' ~ crs, '', destinationlimit) }}
                        </td>
                        <td>{{ booked }}</td>
                        <td>{{ pending }}</td>
                        <td>{{ remaining }}</td>
                </tr>
                {{/ destinationlimits }}

                <tr>
                    <td>Maximum party size</td>
                    <td class="has-danger">
                        <input type="number" class="form-control" name="maxparty" value="{{ limits.maxparty }}" required="true">
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Maximum party size in first<br /><small class="text-info">Only applied if non-zero</small></td>
                    <td class="has-danger">
                        <input type="number" class="form-control" name="maxpartyfirst" value="{{ limits.maxpartyfirst }}" required="true">
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>

        {{ form_errors(errors) }}

        <div>
            <input type="submit" name="submit" value="Set limits" class="btn btn-primary" />
            <input type="submit" name="cancel" value="Cancel" class="btn btn-warning" />
        </div>
    </form>
</div>

{{> footer }}
