{{> header }}

{{> usermenu }}

<div class="container-fluid px-4">

    <h1 class="display-6 text-center">Booking completed successfuly</h1>

    <div class="container border shadow p-3">

        <p>Thank you for booking with SRPS Railtours.</p>

        <p>
            {{# purchase.emailsent }}
                Please find the details of your transaction. You should receive an
                email shortly.
            {{/ purchase.emailsent }}
            {{^ purchase.emailsent }}
                Please find the details of your transaction. An email has already
                been sent to you.
            {{/ purchase.emailsent }}
        </p>

        <p>
            {{# purchase.eticket }}
                Final timings and your electronic ticket will be emailed to you approximately <b>ONE WEEK</b> before the
                tour date. Please make sure you check your "spam" or junk mail folders before contacting us if you do not
                receive this.
            {{/ purchase.eticket }}
            {{^ purchase.eticket }}
                Final timings and tickets will be sent <b>ONE WEEK</b> before the tour.
            {{/ purchase.eticket }}
        </p>

        <dl class="dl-horizontal">
            <dt>Booking ref</dt>
            <dd>{{ purchase.bookingref }}</dd>

            <dt>Tour name</dt>
            <dd>{{ service.name }}</dd>

            <dt>Tour date</dt>
            <dd>{{ service.date }}</dd>

            <dt>Payment status</dt>
            <dd>{{ sage.StatusDetail }}</dd>

            <dt>Total price</dt>
            <dd>&pound;{{ purchase.payment }}</dd>
        </dl>

        <div>
            {{# purchase.bookedby }}
                <a class="btn btn-primary" href="{{ config.www }}">Continue</a>
            {{/ purchase.bookedby }}
            {{^ purchase.bookedby }}
            <a class="btn btn-primary" href="http://www.srps.org.uk/">
                Return to the SRPS site
            </a>
            {{/ purchase.bookedby }}
        </div>

    </div>

</div>

{{> footer }}