{{> header}}

    {{> booking/telephonestatus }}

    <h3 class="text-error">Destinations / Options</h3>

    <p>
        There is more than one destination or option for this tour. Please choose
        the one you would like.
    </p>

    {{# destinations }}
        {{# available }}
            <div class="card destination-card">
                <div class="card-header">
                    <h3>{{ name }}</h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{{ description }}}
                        <ul>
                            <li><b>First adult/child</b> (each) &pound;{{ first }}</li>
                            <li><b>Standard adult</b> (each) &pound;{{ standard }}</li>
                            <li><b>Standard child</b> (each) &pound;{{ child }}</li>
                        </ul>
                        <a class="btn btn-primary" href="{{# path }}booking/destination{{/ path }}/{{ crs }}">Choose <b>{{ name }}</b></a>
                    </div>
                </div>
            </div>
        {{/ available }}
        {{^ available }}
            <div class="panel panel-default">
                <p class="muted">{{{ description }}}</p>
                <p><b>Sorry, this destination is fully booked.</b></p>
            </div>
        {{/ available }}
    {{/ destinations }}

    <div>
        <form action="{{# path }}booking/destination{{/ path }}" method="post">
            <input type="submit" name="back" value="Back" class="btn btn-warning" formnovalidate />
        </form>
    </div>

{{> footer }}
