{% extends 'booking/booking.html.twig' %}

{% block content %}
    <div class="srpsnavbar">
        SRPS Railtours Online Booking &nbsp;<span class="navdot glyphicon glyphicon-record"></span>&nbsp; {{ service.name }}
    </div>

    <h3 class="text-error">People in your party...</h3>

    <p>
        Tell us how many adults and children (14 and under) are travelling in
        your party. Do not include infants who travel free but will not
        be allocated a seat.
    </p>

    <p class="alert">
        Your party can have a maximum of {{ maxparty }} persons.
    </p>

    <form id="numbers-form" class="form-horizontal" action="{{ path('booking/numbers', service.id) }}" method="post">
        {{ form_select('adults', 'Number of adults', purchase.adults, choices_adult) }}
        {{ form_select('children', 'Number of children', purchase.children, choices_children) }}

        {{ form_errors(errors) }}

        <div>
            <input type="submit" name="next" value="Next step" class="btn btn-primary" />
            <input type="submit" name="cancel" value="Cancel" class="btn btn-warning" formnovalidate />
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#numbers-form').validate({
            errorClass: "validateError",
            rules: {
                adults: {
                    required: true,
                    number: true,
                    min: 1,
                    max: {{ maxparty }}
                },
                children: {
                    required: true,
                    number: true,
                    min: 0,
                    max: {{ maxparty }}
                }
            }
        });
    </script>
{% endblock javascripts %}