{{> header }}

{{> usermenu }}

<div class="container-fluid px-4">

    {{> booking/telephonestatus }}

    <h1 class="display-6 text-center">Review and pay</h1>

    <div class="container border shadow p-3">

        <p>
            Review your booking information. When you are happy, go to our secure
            payment partner to complete your booking.
        </p>

        <h4>Booking details</h4>

        <dl class="row">
            <dt class="col-3">Booking ref</dt>
            <dd class="col-9"><strong>{{ purchase.bookingref }}</strong></dd>

            <dt class="col-3">Tour name</dt>
            <dd class="col-9">{{ service.name }}</dd>

            <dt class="col-3">Tour date</dt>
            <dd class="col-9">{{ formatteddate  }}</dd>

            <dt class="col-3">Destination</dt>
            <dd class="col-9">{{ destination.name }}</dd>

            <dt class="col-3">Joining station</dt>
            <dd class="col-9">{{ joining.station }}</dd>

            <dt class="col-3">Number of adults</dt>
            <dd class="col-9">{{ purchase.adults }}</dd>

            <dt class="col-3">Number of children</dt>
            <dd class="col-9">{{ purchase.children }}</dd>
            
            <dt class="col-3">Travel class</dt>
            <dd class="col-9">{{ class }}</dd>
    
            {{# service.mealavisible }} 
                {{# purchase.meala }}
                    <dt class="col-3">{{ service.mealaname }}</dt>
                    <dd class="col-9">{{ purchase.meala }} booked</dd>
                {{/ purchase.meala }}
            {{/ service.mealavisible }}

            {{# service.mealbvisible }} 
                {{# purchase.mealb }}
                    <dt class="col-3">{{ service.mealbname }}</dt>
                    <dd class="col-9">{{ purchase.mealb }} booked</dd>
                {{/ purchase.mealb }}
            {{/ service.mealbvisible }}

            {{# service.mealcvisible }} 
                {{# purchase.mealc }}
                    <dt class="col-3">{{ service.mealcname }}</dt>
                    <dd class="col-9">{{ purchase.mealc }} booked</dd>
                {{/ purchase.mealc }}
            {{/ service.mealcvisible }}

            {{# service.mealdvisible }} 
                {{# purchase.meald }}
                    <dt class="col-3">{{ service.mealdname }}</dt>
                    <dd class="col-9">{{ purchase.meald }} booked</dd>
                {{/ purchase.meald }}
            {{/ service.mealdvisible }}
            
            {{# purchase.seatsupplement }}
                <dt class="col-3">Window supplement</dt>
                <dd class="col-9">Yes (&pound;{{ fare.seatsupplement }})</dd>
            {{/ purchase.seatsupplement }}

            <dt class="col-3">Total price</dt>
            <dd class="col-9"><strong>&pound;{{ purchase.payment }}</strong></dd>
        </dl>

        <h4>Contact details</h4>    

        <dl class="row">

            <dt class="col-3">Name</dt>
            <dd class="col-9">{{ purchase.title }} {{ purchase.firstname }} {{ purchase.surname }}</dd>

            <dt class="col-3">Address line 1</dt>
            <dd class="col-9">{{ purchase.address1 }}</dd>

            {{# purchase.address2 }}
                <dt class="col-3">Address line 2</dt>
                <dd class="col-9">{{ purchase.address2 }}</dd>
            {{/ purchase.address2 }}

            <dt class="col-3">Post town/city</dt>
            <dd class="col-9">{{ purchase.city }}</dd>

            {{# purchase.county }}
                <dt class="col-3">County</dt>
                <dd class="col-9">{{ purchase.county }}</dd>
            {{/ purchase.county }}

            <dt class="col-3">Postcode</dt>
            <dd class="col-9">{{ purchase.postcode }}</dd>
            
            {{# purchase.phone }}
                <dt class="col-3">Telephone</dt>
                <dd class="col-9">{{ purchase.phone }}</dd>
            {{/ purchase.phone }}
                
            <dt class="col-3">Email</dt>
            <dd class="col-9">{{ purchase.email }}</dd>

            <dt class="col-3">Marketing by email</dt>
            <dd class="col-9">{{ formattedcontactemail }}</dd>

            <dt class="col-3">Marketing by post</dt>
            <dd class="col-9">{{ formattedcontactpost }}</dd>           
        </dl>

        <div class="alert alert-error">
            By placing this booking you agree that you have read, understood and agree
            to our <a href="{{# path }}booking/terms{{/ path }}" target="_blank">
            Terms and Conditions</a>
        </div>

        <form id="review-form" class="form-horizontal" action="{{# path }}booking/payment{{/ path }}" method="post">
            <div>
                <input type="submit" name="next" value="Go to our secure payment site" class="btn btn-primary" />
                <input type="submit" name="back" value="Make changes" class="btn btn-warning" formnovalidate />
            </div>
        </form>

    </div>

</div>

{{> footer }}
