{{> header }}

    <h3 class="text-error">Telephone booking (customer not present)</h3>

    <div class="alert alert-warning">
        The following purchases have the same details.
    </div>

    {{# purchases }}

    {{/ purchase }}

{{> footer }}    