{{> header}}

{{> usermenu }}

<div class="container-fluid px-4">

    <h1 class="display-6 text-center">Conditions of Booking</h1>

    <div class="container border shadow p-3">

        <h4>General conditions</h4>

        <ol>
            <li>All seats are fully reserved and must be booked and paid for in advance. SRPS Railtours endeavour to fulfil specific seating requests subject to availability and reserve the right to charge an additional £15 per seat for some seating requirements (eg. bays of two single seats).</li>
            <li>While SRPS Railtours will make every reasonable effort to ensure that the train runs as planned, SRPS Railtours does not accept responsibility for delays, mishaps or alterations or curtailment of the tour arising from situations outwith its control.</li>
            <li>SRPS Railtours cannot be held liable for any missed connections or non-use of tickets.</li>
            <li>Provisional times are only a guide and when booking you accept that these may differ from the final times. Final times are sent with your ticket, normally about a week before the date of the tour.</li>
            <li>Please allow plenty of time to reach your joining station and, if appropriate, sufficient time to park your car and make your way to the correct platform to join the train.</li>
            <li>If an excursion is cancelled by SRPS Railtours a full refund will be made, but no other liability shall be incurred.</li>
            <li>SRPS Railtours reserves the right to refuse access to, or remove from the train, any persons who are considered to be using inappropriate behaviour affecting the safety of the train and its passengers, spoiling the enjoyment for other passengers on the train, or failing to comply with any reasonable requests made by a member of the train staff.</li>
            <li>If you have any issues during your journey please bring them to the attention of one of the SRPS Railtours stewards or the Train Manager so that there is an opportunity to rectify the situation. It is unreasonable to take no action at the time and subsequently make a complaint. If the problem is not resolved then please put your complaint in writing to the Railtour Organiser to arrive no later than 10 days after your date of travel.</li>
            <li>Your booking is taken as constituting acceptance of these conditions.</li>
        </ol>	

        <h4>Customer Cancellation or Alteration to a Booking</h4>

        <ol>
            <li>For cancellations received more than fourteen days prior to the tour departure refunds will be given. To cover any non-recoverable charges or costs SRPS Railtours reserve the right to reduce the value of these refunds by up to the greater of £5 or 10% of the sum paid.</li>
            <li>For cancellations received between 24 hours and fourteen days prior to the tour departure a credit voucher will be issued which can be used as payment for future SRPS Railtours excursions. To cover any non-recoverable charges or costs SRPS Railtours reserve the right to reduce the value of these vouchers by up to the greater of £5 or 10% of the sum paid.</li>
            <li>No refund will be given for cancellations received less than 24 hours prior to the tour departure or for failure to board the train.</li>
        </ol>

    </div>

</div>

{{> footer }}
