{% extends 'booking/booking.html.twig' %}

{% block content %}
<div class="srpsnavbar">
    SRPS Railtours Online Booking
</div>

<div class="panel">
    Your session has expired. You will need to start again.<br />
    <a class="btn btn-primary">Continue</a>
</div>


{% endblock %}