{% extends 'booking/booking.html.twig' %}

{% block content %}
<div class="srpsnavbar">
    SRPS Railtours Online Booking
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        Session timed out
    </div>
    <div class="panel-body">
        <p>Too much time has expired since your last activity. You will need to start again.</p>
        <a class="btn btn-primary" href="{{ path('admin/main') }}">Continue</a>
    </div>
</div>


{% endblock %}