{{> header }}

{{> adminmenu }}

<div id="vapp" class="container-fluid px-4">

    <h1 class="display-6 text-center">Railtour Services</h1>

    <div class="container border shadow p-3">
        <div class="row">
            <div class="col-sm-3">
                <form ref="services_year" id="services_filter_form" class="form-horizontal" action="{{# path }}service/index{{/path}}"
                    novalidate="novalidate" method="post">
                    {{{ form.filter_year }}}
                </form>
            </div>
        </div>

        {{^ is_services }}
            <div class="alert alert-danger">No services for selected year</div>
        {{/ is_services }}

        {{# is_services }}
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Visible</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {{# services }}
                <tr>
                    <td><strong>{{ code }}</strong></td>
                    <td>{{ name }}</td>
                    <td>
                        {{# visible }}
                            <a class="badge bg-success" data-toggle="tooltip" title="Click to hide"
                            href="{{# path }}service/visible{{/ path }}/{{ id }}/0">Yes</a>
                        {{/ visible }}
                        {{^ visible }}
                            <a class="badge bg-dark" data-toggle="tooltip" title="Click to show"
                            href="{{# path }}service/visible{{/ path }}/{{ id }}/1">No</a>
                        {{/ visible }}
                    </td>
                    <td>{{# date }}{{ formatteddate }}{{/ date }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-sm btn-success me-1" href="{{# path }}service/show{{/ path }}/{{ id }}">Show</a>
                            <a class="btn btn-sm btn-primary me-1" href="{{# path }}limits/edit{{/ path }}/{{ id }}">Limits</a>
                            {{# showbookingbutton }}
                                <a class="btn btn-sm btn-info me-1" href="{{# path }}booking/index{{/ path }}/{{ code }}">Book</a>
                            {{/ showbookingbutton }}
                            {{^ showbookingbutton }}
                                <a class="btn btn-sm btn-info disabled me-1">Book</a>
                            {{/ showbookingbutton }}
                            <a class="btn btn-sm btn-warning me-1" href="{{# path }}report/list{{/ path }}/{{ id }}">Report</a>
                            <a class="btn btn-sm btn-dark me-1" href="{{# path }}report/export{{/ path }}/{{ id }}">Export</a>
                            <a class="btn btn-sm btn-secondary me-1" href="{{# path }}service/duplicate{{/ path }}/{{ id }}">Duplicate</a>
                            <a class="btn btn-sm btn-danger me-1" href="{{# path }}service/delete{{/ path }}/{{ id }}">Delete</a>
                        </div>
                    </td>
                </tr>
            {{/services }}
            </tbody>
        </table>
        {{/ is_services }}

        {{^ enablebooking }}
            <div class="alert">
                NOTE: Booking is currently disabled on this site
            </div>
        {{/ enablebooking }}

        {{# system.admin }}
            <div class="btn-group">
                <a class="btn btn-primary" href="{{# path }}service/edit{{/ path }}">
                    Add a new service
                </a>
            </div>
        {{/ system.admin }}

        
    </div>

</div>

<script>
    const vueApp = new Vue({
        el: '#vapp',
        data: { 
        },
        methods: {
            datechange: function() {
                this.$refs.services_year.submit()
            }
        }
    })
</script>

{{> footer }}
