{{> header }}

{{> adminmenu }}

    <h3 class="adminpage_title">Railtour Reports</h3>

    <h3 class="adminpage_title">{{ service.name }}</h3>
    
    <div class="alert alert-danger">
        Any lines shaded like this did <b>NOT</b> complete payment successfully and must not
        be allocated seats.
    </div>

    <div class="alert alert-warning">
        Any lines shaded like this have not received a completion status and must
        be manually checked in Sagepay to establish if payment is complete.
    </div>

    <a class="btn btn-sm btn-warning" href="{{# path }}report/export{{/ path }}/{{ service.id }}">Export bookings</a>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Ref</th>
                <th>Status</th>
                <th>Date</th>
                <th><a href="{{# path }}report/list{{/ path }}/{{ service.id }}/name">Name</a></th>
                <th>Postcode</th>
                <th>Adults</th>
                <th>Children</th>
                <th>Payment</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {{# purchases }}
                <tr {{# statusclass }}class="alert alert-{{ . }}"{{/ statusclass }} >
                    <td>{{ bookingref }}</td>
                    <td>{{ status }}</td>
                    <td>{{ formatteddate }}</td>
                    <td>{{ firstname }} {{ surname }}</td>
                    <td>{{ postcode }}</td>
                    <td>{{ adults }}</td>
                    <td>{{ children }}</td>
                    <td>{{ payment }}</td>
                    <td>
                        <a class="btn btn-sm btn-success" href="{{# path }}report/view{{/ path }}/{{ id }}">
                            <i class="fas fa-camera-retro"></i> View</a>
                    </td>
                </tr>
        {{/ purchases }}
            </tbody>
        </table>

        <div class="btn-group">
            <a class="btn btn-primary" href="{{# path }}service/index{{/ path }}">
                <i class="fas fa-home"></i> Back to list
            </a>
        </div>

{{> footer }}